*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.flex{
    display: flex;
}
img{
    /* garder ratio d'une image  */
    object-fit: cover;
    display: block;
    /* border-radius: 5px; */
    max-width: 100%;  /* si elle n'a plus la place, elle va se reduire */
}

body{
    background: url(images/sand-grainer-countdown.jpg) no-repeat center / cover;
    background-color: #CDA382;
    font-family: 'Cormorant Upright', serif;
    color: #1A1B19;
    height: 100vh;
}
.ml16{
    line-height: 50vh;
    /* text-align: center; */
    padding-left: 4%;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    overflow: hidden;
}
.ml16 .letter{
    display: inline-block;
    line-height: 1em;
}

.ml9{
    /* position: relative; */
    font-weight: 200;
    font-size: 3em;
}
.ml9 .text-wrapper{
    /* position: relative; */
    display: inline-block;
    padding-left: 4%;
    /* padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em; */
    overflow: hidden;
}
.ml9 .letter{
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
}